<launch>
    <!-- Use simulation time -->
    <param name="/use_sim_time" value="true"/>
    
    <!-- Start the simulation -->
    <node name="sim" pkg="anymal_d_rsl" type="sim.py" />

    <!-- Argument to decide whether to use hardcoded sensor data -->
    <arg name="use_sensor_faker" default="true" />

    <!-- Start the path_follower_node -->
    <include file="$(find path_follower)/launch/path_follower.launch" />

    <!-- Start the sensor_faker node if use_sensor_faker is true -->
    <node if="$(arg use_sensor_faker)" name="sensor_faker" pkg="gas_sensing" type="sensor_faker" />

    <!-- Start the sensor_listener and serial_node.py if use_sensor_faker is false -->
    <group unless="$(arg use_sensor_faker)">
        <node name="sensor_listener" pkg="esp32_ros" type="sensor_listener" />
        <node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0 _baud:=57600" />
        <node name="sensor_subscriber" pkg="gas_sensing" type="sensor_subscriber" />
    </group>

    <!-- Start the path_follower_node -->
    <!-- <include file="$(find path_follower)/launch/path_follower.launch" /> -->

    <!-- Start the path_hardcoder node -->
    <node name="path_hardcoder" pkg="path_planner" type="path_hardcoder" output="screen" />
</launch>